html{
    font-family: 'Inter' !important;
}

.gob{
    background-color: rgb(66, 66, 66);
    color: white;
    padding: 10px;
    padding-left: 20px;
}

.cabeza{
    background-color: rgb(217, 217, 217);

}

.titulo{
    padding: 20px;
    text-align: center;
}